RedPillClient/WindowsFormsApplication2/Service References/MyRedPill/RedPill2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://KnockKnock.readify.net" elementFormDefault="qualified" targetNamespace="http://KnockKnock.readify.net" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54335/RedPill.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:54335/RedPill.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
  <xs:element name="WhatIsYourToken">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WhatIsYourTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="WhatIsYourTokenResult" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FibonacciNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FibonacciNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FibonacciNumberResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhatShapeIsThis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
        <xs:element minOccurs="0" name="c" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhatShapeIsThisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="WhatShapeIsThisResult" type="q2:TriangleType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReverseWordsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>